@import "../../styles/vars";

.navigations {
	display: flex;
	height: 75px;
	align-items: center;
	justify-content: flex-end;
	padding-left: 18px;
	background-color: rgb(10 25 47 / 85%);
	box-shadow: 0 10px 30px -10px var(--shadow);

	&__logo {
		margin-right: auto;
	}

	&__hamburger {
		position: relative;
		z-index: 1;
		display: none;
		padding: 0;
		border: none;
		margin-top: 5px;
		margin-right: 12px;
		background-color: transparent;
		color: var(--text);

		:global(.hamburger-react) {
			&:hover {
				color: var(--primary);
			}
		}

		@media (max-width: $breakpoint-md) {
			display: inline-block;
		}
	}

	&__list {
		display: flex;
		justify-content: flex-end;
		padding: 0;
		margin: 0;
		gap: 12px;
		list-style: none;

		&--mobile {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex !important;
			flex-direction: column;
			justify-content: space-evenly;
			background-color: var(--secondary);
			text-align: center;
		}

		@media (max-width: $breakpoint-md) {
			display: none;
		}
	}

	&__item {
		padding: 16px 18px;
		color: var(--text);
		font-size: $fz-md;
		font-weight: 300;
		text-transform: uppercase;

		&::before {
			margin-right: 5px;
			color: var(--primary);
			content: "0" attr(data-index) ".";
			font-size: $fz-sm;
			font-weight: 300;
		}

		&--active {
			color: var(--primary);
		}
	}
}
