{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order"
  ],
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-order"],
  "rules": {
    "indentation": "tab",
    "color-hex-case": "upper",
    "selector-class-pattern": ["^[a-zA-Z][a-z0-9_-]+$", { "resolveNestedSelectors": true }]
  }
}
