@import 'styles/breakpoint';

.layout {
	display: grid;
	max-width: 100vw;
	min-height: 100vh;
	grid-template:
		"header header header" auto
		". main ." 1fr
		"footer footer footer" auto /  auto  minmax($breakpoint-xsm, $breakpoint-xl) auto;

	&__main {
		grid-area: main;
	}
}
