.moon {
	position: absolute;
	top: -100px;
	left: -300px;
	width: 900px;
	height: 900px;
	border-radius: 100%;
	background: linear-gradient(90deg, rgb(208 208 208 / 100%) 48%, rgb(145 145 145 / 100%) 100%);
	box-shadow: 0 0 30px -4px rgb(0 0 0 / 50%);
	content: "";
}

.moon__crater {
	position: absolute;
	border-radius: 100%;
	background: linear-gradient(90deg, rgb(122 122 122 / 100%) 38%, rgb(195 195 195 / 100%) 100%);
	content: "";
	opacity: 0.6;
}

.moon__crater1 {
	top: 250px;
	left: 500px;
	width: 60px;
	height: 180px;
}

.moon__crater2 {
	top: 650px;
	left: 340px;
	width: 40px;
	height: 80px;
	transform: rotate(55deg);
}

.moon__crater3 {
	top: -20px;
	left: 40px;
	width: 65px;
	height: 120px;
	transform: rotate(250deg);
}

.star {
	position: absolute;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	animation-direction: alternate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: shimmer;
	background: grey;
	content: "";
	opacity: 0.4;
	transform: rotate(250deg);
}

.star1 {
	top: 40%;
	left: 50%;
	animation-delay: 1s;
}

.star2 {
	top: 60%;
	left: 90%;
	animation-delay: 3s;
}

.star3 {
	top: 10%;
	left: 70%;
	animation-delay: 2s;
}

.star4 {
	top: 90%;
	left: 40%;
}

.star5 {
	top: 20%;
	left: 30%;
	animation-delay: 0.5s;
}

.error {
	position: absolute;
	top: 400px;
	left: 100px;
	color: #363E49;
	font-family: Righteous, cursive;
	transform: translateY(-60%);
}

.error__title {
	font-size: 10em;
}

.error__subtitle {
	font-size: 2em;
}

.error__description {
	opacity: 0.5;
}

.error__button {
	min-width: 7em;
	padding: 0.5em 2em;
	border: 2px solid #2F3640;
	border-radius: 8em;
	margin-top: 3em;
	margin-right: 0.5em;
	background-color: transparent;
	color: #576375;
	cursor: pointer;
	font-family: Righteous, cursive;
	font-size: 0.75em;
	outline: none;
	transition-duration: 0.2s;
}

.error__button:hover {
	color: #21252C;
}

.error__button--active {
	border: 2px solid #E67E22;
	background-color: #E67E22;
	color: white;
}

.error__button--active:hover {
	box-shadow: 0 0 8px 0 rgb(0 0 0 / 50%);
	color: white;
}

.astronaut {
	position: absolute;
	top: 50%;
	left: 70%;
	width: 185px;
	height: 300px;
	transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
}

.astronaut__head {
	position: absolute;
	top: 60px;
	left: 60px;
	width: 60px;
	height: 60px;
	border-radius: 2em;
	background-color: white;
	content: "";
}

.astronaut__head-visor-flare1 {
	position: absolute;
	top: 28px;
	left: 40px;
	width: 10px;
	height: 10px;
	border-radius: 2em;
	background-color: #7F8FA6;
	content: "";
	opacity: 0.5;
}

.astronaut__head-visor-flare2 {
	position: absolute;
	top: 40px;
	left: 38px;
	width: 5px;
	height: 5px;
	border-radius: 2em;
	background-color: #718093;
	content: "";
	opacity: 0.3;
}

.astronaut__backpack {
	position: absolute;
	top: 90px;
	left: 47px;
	width: 86px;
	height: 90px;
	border-radius: 8px;
	background-color: #BFBFBF;
	content: "";
}

.astronaut__body {
	position: absolute;
	top: 115px;
	left: 55px;
	width: 70px;
	height: 80px;
	border-radius: 8px;
	background-color: #E6E6E6;
	content: "";
}

.astronaut__body__chest {
	position: absolute;
	top: 140px;
	left: 68px;
	width: 45px;
	height: 25px;
	border-radius: 6px;
	background-color: #D9D9D9;
	content: "";
}

.astronaut__arm-left1 {
	position: absolute;
	top: 127px;
	left: 9px;
	width: 65px;
	height: 20px;
	border-radius: 8px;
	background-color: #E6E6E6;
	content: "";
	transform: rotate(-30deg);
}

.astronaut__arm-left2 {
	position: absolute;
	top: 102px;
	left: 7px;
	width: 20px;
	height: 45px;
	border-radius: 8px;
	background-color: #E6E6E6;
	border-top-left-radius: 8em;
	border-top-right-radius: 8em;
	content: "";
	transform: rotate(-12deg);
}

.astronaut__arm-right1 {
	position: absolute;
	top: 113px;
	left: 100px;
	width: 65px;
	height: 20px;
	border-radius: 8px;
	background-color: #E6E6E6;
	content: "";
	transform: rotate(-10deg);
}

.astronaut__arm-right2 {
	position: absolute;
	top: 78px;
	left: 141px;
	width: 20px;
	height: 45px;
	border-radius: 8px;
	background-color: #E6E6E6;
	border-top-left-radius: 8em;
	border-top-right-radius: 8em;
	content: "";
	transform: rotate(-10deg);
}

.astronaut__arm-thumb-left {
	position: absolute;
	top: 110px;
	left: 21px;
	width: 10px;
	height: 6px;
	border-radius: 8em;
	background-color: #E6E6E6;
	content: "";
	transform: rotate(-35deg);
}

.astronaut__arm-thumb-right {
	position: absolute;
	top: 90px;
	left: 133px;
	width: 10px;
	height: 6px;
	border-radius: 8em;
	background-color: #E6E6E6;
	content: "";
	transform: rotate(20deg);
}

.astronaut__wrist-left {
	position: absolute;
	top: 122px;
	left: 6.5px;
	width: 21px;
	height: 4px;
	border-radius: 8em;
	background-color: #E67E22;
	content: "";
	transform: rotate(-15deg);
}

.astronaut__wrist-right {
	position: absolute;
	top: 98px;
	left: 141px;
	width: 21px;
	height: 4px;
	border-radius: 8em;
	background-color: #E67E22;
	content: "";
	transform: rotate(-10deg);
}

.astronaut__leg-left {
	position: absolute;
	top: 188px;
	left: 50px;
	width: 23px;
	height: 75px;
	background-color: #E6E6E6;
	content: "";
	transform: rotate(10deg);
}

.astronaut__leg-right {
	position: absolute;
	top: 188px;
	left: 108px;
	width: 23px;
	height: 75px;
	background-color: #E6E6E6;
	content: "";
	transform: rotate(-10deg);
}

.astronaut__foot-left {
	position: absolute;
	top: 240px;
	left: 43px;
	width: 28px;
	height: 20px;
	border-radius: 3px;
	border-bottom: 4px solid #E67E22;
	background-color: white;
	border-top-left-radius: 8em;
	border-top-right-radius: 8em;
	content: "";
	transform: rotate(10deg);
}

.astronaut__foot-right {
	position: absolute;
	top: 240px;
	left: 111px;
	width: 28px;
	height: 20px;
	border-radius: 3px;
	border-bottom: 4px solid #E67E22;
	background-color: white;
	border-top-left-radius: 8em;
	border-top-right-radius: 8em;
	content: "";
	transform: rotate(-10deg);
}

@keyframes shimmer {
	from { opacity: 0; }
	to { opacity: 0.7; }
}
